.team--version--desktop {
  position: relative;
}

.team {
  display: flex;

  @include tablets {
    display: none;
  }

  .team__item {
    
    margin-right: rem(20px);
    max-width: rem(220px);
    position: relative;
    text-align: center;

    &:last-child {
      margin-right: 0;
    }
  }
}

.team__member {
  height: rem(288px);
  margin-bottom: rem(20px);
}

.team__title {
  color: #323232;
  font-size: rem(21px);
  font-weight: 700;
  text-align: center;
  margin-bottom: rem(20px);
}

.team__content {
  position: absolute;
  top: 100%;
  transition: height .3s;
  overflow: hidden;
  height: 0;
}

.team__content-block {
  padding-bottom: rem(5px);
}

.team__content-subtitle {
  color: #000000;
  font-size: rem(18px);
  font-weight: 400;
  margin-bottom: rem(6px);
}

.team__content-info {
  color: #666666;
  font-size: rem(18px);
  font-weight: 300;
}