.benefits {
  display: flex;

  @include phones {
    flex-direction: column;
  }
}

.benefits__item {
  flex: 1;
  margin: 0 3%;
  position: relative;

  &::before {
    content: url("../image/1.png");
    position: absolute;
    top: rem(30px);
    right: 0;
    transform: translateX(50%);

    @include tablets {
      display: none;
    }

    @include phones {
      display: none;
    }
  }

  @include phones {
    padding: 0;
    margin-bottom: rem(35px);
    margin-left: 0;
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  
    &::before {
      display: none;
    }

  }
}