.form__btns {
  margin-top: rem(40px);
}

.btn {
  font-size: rem(19px);
  font-weight: bold;
  padding: rem(18px) rem(35px);
  text-transform: uppercase;
  border-radius: rem(100px);
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  border: none;
  position: relative;

  @include tablets {
    top: 10%;
  }

  &--theme--white {
    background: #ffffff;
    color: $darkGreen;


    &:hover {
      color: #ffffff;
      background: $darkGreen;
    }
  }

  &--theme--transparent {
    background: transparent;
    color: #000000;
    text-transform: none;


    &:hover {
      color: $darkGreen;
    }
  }

  &--theme--green {
    background: $darkGreen;
    color: #ffffff;


    &:hover {
      color: $darkGreen;
      background: #ffffff;
    }
  }

}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
}