.hero {
  background: 
  url("../image/узор\ 1.png") right bottom no-repeat;
  background-color: $blue;
  height: 100%;
  min-height: rem(650px);
  color: #ffffff;
  position: relative;

  @include  tablets {
    background-position: 109% 33%;
    background-size: 66%;
  }

  &::before, &::after {
    @include tablets {
      display: none;
    }
  }

  &::before {
    position: absolute;
    bottom: rem(-40px);
    left: 2%;
    content: url("../image/Лист\ 3.png");
  }

  &::after {
    content: url("../image/4-layers.png");
    position: absolute;
    bottom: rem(-40px);
    right: 0;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: rem(24px) 0 rem(45px) 0;
  background: url("../image/Батончики.png") right center / 50% auto no-repeat;
  @include tablets {
    background: none;
    padding: 0;
  }
}

.hero__title-section {
  width: 46%;

  @include tablets {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;

    &::before {
      content: url("../image/all.png");
      width: rem(316px);
      height: rem(330px); 
      margin-bottom: rem(16px);
    }
  }
}

.hero__icons-section {
  @include tablets {
    display: none;
  }
}

.hero__main-title {
  font-size: rem(48px);
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: rem(15px);
  text-transform: uppercase;
  position: relative;

  @include tablets {
    top: 10%;
  }

  @include phones {
    font-size: rem(30px);
  }
}

.hero__title-desc {
  font-size: rem(18px);
  margin-bottom: rem(28px);
  padding-right: 10%;
  position: relative;

  @include tablets {
    padding: 0 25%;
    top: 10%;
  }

  @include phones {
    padding: 0 16%;
  }
}