.order-section {
  background: url("../image/паттерн.png") center center no-repeat;
  background-size: cover;
  position: relative;

  &::before {
    content: url("../image/ягодаblue.png");
    position: absolute;
    left: rem(20px);
    bottom: rem(100px);
  }

  &::after {
    content: url("../image/листgreen.png");
    position: absolute;
    right: 0;
    bottom: rem(94px);
  }

  @include tablets {
    &::before, &::after {
      display: none;
    }
  }
}